.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* or any specific width */
}

.table-header,
.table-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust number of columns */
}

.table-column {
  padding: 10px;
  border: 1px solid #ccc; /* Optional: for visual separation */
}

.table-header {
  font-weight: bold;
  background-color: #f0f0f0; /* Optional: for header styling */
}

.table-body .table-row {
  display: contents; /* Ensures each row is treated as a grid item */
}

/* Deliquency Table */
s table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

td {
  width: 50px;
  height: 50px;
}

thead {
  background-color: #f2f2f2;
}

tbody td span {
  font-size: 24px;
}
